{% extends 'dummy.html' %}{% load static %}
{% block title %} <title>Free</title>
{% endblock %}

{% block body_block %}
<style>
  img{


    transition: transform .2s;
    /* Animation */

    margin: 0 auto;
    border-radius: 20px;
  }

  img:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  #fix{position:relative;}
</style>

<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i0.wp.com/4.bp.blogspot.com/_eewr1b1LpYA/TNdmvv9auhI/AAAAAAAAKss/Lut3My9Fp4U/s1600/mirapakaya_movie_wallpapers_posters_02.jpg" class="d-block w-100 " height="400px" alt="Wild Landscape"/>
      </div>
      <div class="carousel-item">
        <img src="https://www.idlebrain.com/images4/wp-38arundhati1280.jpg" class="d-block w-100 " height="400px" alt="Camera"/>
      </div>
      <div class="carousel-item">
        <img src="https://m.timesofindia.com/photo/87424090/size-106037/87424090.jpg" class="d-block w-100 " height="400px" alt="Exotic Fruits"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
        <h1>blockbuster movie</h1>
        <div class="container-fluied">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzHb1E_fxCxy5hBnElkcCXRmTh95F6L_E6xg&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRww0z4EDhNv3p0N3e0_H7MvNrsCZcSZMHW9g&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTni6rmey-x9VBYhHLUBynlJZwJteLj3vznqA&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9vvL1t3T-ECwsKBTvYYo8wvZ-AZbJsxsQ2A&usqp=CAU class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoAhXMapI8Z_SJRPmlyJHmYq-VEVbpstY5YQ&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvEOLVxvv9gcx_OgSd7bn9k4OaOAWuJFtiQg&usqp=CAU" class="img" width="230px" height="340px">
              </div>
          </div><br>
          <div>
            <img src="https://mercury.akamaized.net/gi/eddcd666be1409879c619aba5c87dcfa_1013031_0.jpg" alt="" height="200px" width="1400px">
          </div>
          <h1>New Movies</h1>
        <div class="container-fluied">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0pHAx69mTggUq5Vpbbt1zRcfkCtC4w0MejQ&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCfH6fLeFVD-zsAu21_ZT5ij-W0hZTx051Vw&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOp4lxpGWHyji3E2yCNIqqNl2jVbbmm5l5CL9SsmSck4GLk5RdAGLA7y16zL2ipi7jEaw&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT95SMG5boHJUgQhbVT95D2PWu2QJnzWUnaR67eQ2MNaHu6GH6K25WOOyyLGrJcQ9u3vTY&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoOIYmJFHugtE_feaCdma7rVF3F938lX_Ktw&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcNzroYhpeEqrp5IgfboSlodjTT-jq1ZRjhw&usqp=CAU" class="img" width="230px" height="340px">
              </div>
          </div>
          <h1>Funny scene</h1>
        <div class="container-fluied">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQPiYhZlYE0qZz6JEyYYLifGk1RH-ZbPPDJQ&usqp=CAU" class="img-fluid rounded-pill" width="300px" height="250px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6K44A_lEm7iJx2wBi6_MkCAmBO9kvJ84rCA&usqp=CAU" class="img-fluid rounded-pill" width="300px" height="250px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ13kREYZRvQViCNzIMcg0boQ3a1D0rnzcosQ&usqp=CAU" class="img-fluid rounded-pill" width="300px" height="250px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa_ov5TKtZhwUSoSgTlWRJ0EJfAp0FUa9vvQ&usqp=CAU" class="img-fluid rounded-pill" width="300px" height="250px">
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlt-vtICJgBrp9-jJuXCJbov7b-MrLGRfrglfAFMYVR8og0Zrnl8kChBGx0VA5tLMmllQ&usqp=CAU" class="img-fluid rounded-pill" width="300px" height="250px">
            </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOfwrVx2kRSBi7hXDDwpf3t0N-C19UNmJQcQ&usqp=CAU" class="img-fluid rounded-pill" width="300px" height="250px">
              </div>
          </div>
          <h1>Today Movies</h1>
        <div class="container-fluied">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFSZuu4VoCuyEwPhkhMT-avL7UI7XoU2UMqw&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLQ-dZEpRmkPPkRDk88i2RImQGLQTlVE77bA&usqp=CAU class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb9ZXl6f_eQUYKdNNcoBuc3gy_4fG3DdKtlA&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlS0y1AZXOvpvG21IWnMBVNsslVdkCq1h8lg&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf6LtAGWXoK44rF5xGalaGRMhKh56PwCudoQ&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFqfGtAFJ5VHj_xA5QUqfvkpjNX5u25bkZ_g&usqp=CAU class="img" width="230px" height="340px">
              </div>
          </div>
          <h1>comedy Movies</h1>
        <div class="container-fluied">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThSdA7bIUjYvx4ylsQFu0CpycR4WAJc2ULFw&usqp=CAU class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpYoFd94V8RR6sGzYCIdjumpzHdeU9JPFE_w&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT07FyUjg775AYKjueTRHhRyGzlIieWR6P_zFI-czIvxDLFQiMTlvj6hsIZph5lR59X0ac&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0CGjyEYx0p8aZVw7Ezj6IRZJSruXLP7nWzyCRHxu5Trih4sGyw1wOSDo-Zz3b21PBROA&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoR0DNYlsdwG5U47MAkksCgq-1KHpH_wxrnQ&usqp=CAU" class="img" width="230px" height="340px">
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ__ayBUvJkGB8MQQrdCrSe6srRtQqo9ilw1Q&usqp=CAU" class="img" width="230px" height="340px">
              </div>
          </div>

{% endblock %}




